*.swp
*.dump
stamp-h1
eixx*.tar.gz
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/libtool.m4
build-aux/ltmain.sh
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/lt~obsolete.m4
build-aux/missing
_configs.sed
/config.h
config.h.in*
config.log
config.status
configure
libtool
Makefile
Makefile.in
src/.deps
src/.libs
src/Makefile
src/Makefile.in
src/eixx.pc
src/pri_test
src/test_node
src/*.la
src/*.lo
src/*.o
test/.deps
test/.libs
test/Makefile
test/Makefile.in
test/test_eterm
test/*.o
test/test_perf
test/test_connect
